//Noto sans
@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../fonts/notokr-light.woff') format('woff'),
  url('../fonts/notokr-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../fonts/notokr-regular.woff') format('woff'),
  url('../fonts/notokr-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../fonts/notokr-medium.woff') format('woff'),
  url('../fonts/notokr-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../fonts/notokr-bold.woff') format('woff'),
  url('../fonts/notokr-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

//Lato
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Thin.woff') format('woff'),
  url('../fonts/Lato-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff') format('woff'),
  url('../fonts/Lato-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.woff') format('woff'),
  url('../fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

//FuturaPT
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTLight.woff') format('woff'),
  url('../fonts/FuturaPTLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTMedium.woff') format('woff'),
  url('../fonts/FuturaPTMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTBold.woff') format('woff'),
  url('../fonts/FuturaPTBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTExtraBold.woff') format('woff'),
  url('../fonts/FuturaPTExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPTHeavy.woff') format('woff'),
  url('../fonts/FuturaPTHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

//Pretendard
@font-face {
  font-family: 'Pretendard';
  src:  url('../fonts/Pretendard-Black.woff') format('woff'),
  url('../fonts/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraBold.woff') format('woff'),
  url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff') format('woff'),
  url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-SemiBold.woff') format('woff'),
  url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff') format('woff'),
  url('../fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff') format('woff'),
  url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Light.woff') format('woff'),
  url('../fonts/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraLight.woff') format('woff'),
  url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Thin.woff') format('woff'),
  url('../fonts/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}