@import "../../../css/asset";
@use-vw:true;
@vw: 750;

.nov2-3 {
  img { .wf; .vat; }
  section { .contain('../img/mo/bg.png'); .wh(750,2843);
    .title { .crop;
    }
    .prd-wrap { .flex; .space-between; .mb(50);
      .vis { .w(364); transition: opacity 0.1s ease-out; }
      .swiper { .w(375); .ml(15);
        .swiper-slide {
          .btn { .wh(356,212); .ib; .z(1); .pointer; .rel;
            img { image-rendering: auto; }
            &:first-child { .mb(20);
              &:after { .cnt; .wh(100%,1); .bgc(#4d7293); .-box; .abs; .lb(0,-10); }
            }
          }
        }
      }
      &.on .vis { .o(0.5); }
    }
    .dal { .rel;
      .bott-vis { .rel; .z(1); }
      .bg { .wh(720,624); .abs; .lt(15,0); .crop;
        .bott-bg { .f; animation: spin 150s linear infinite; }
        @keyframes spin {
          0% { transform: scale(1.7) rotate(0deg)}
          100% { transform: scale(1.7) rotate(360deg)}
        }
      }
      .ani { .wh(42,54); .abs; .z(1); }
      .star1 { .rt(195,145); animation: blink 2s infinite ease-out; }
      .star2 { .rt(204,311); animation: blink 2.3s infinite ease-out; }
      .star3 { .lt(154,258); animation: blink 2.5s infinite ease-out; }
      .star4 { .lt(260,484); animation: blink 2.1s infinite ease-out; }
      @keyframes blink { 50% { opacity: 0; }}
    }
  }
}