@import "../../css/asset";

.content { .fs(0); .mh-c; .tc; max-width: 850px; .rel;
  img { .wf; .vat; }
  .wrap { .rel;
    .vid { .crop; width: 100%; padding-top: 175%; .rel;
      iframe { .f; .abs; .lt(50%,0); transform: translateX(-50%); }
    }
  }
}