@import "../../css/asset";

.content { .fs(0); .max-w(1264); .tc; .rel; .mh-c;
  img { .wf; .vat; .m(0); }
  .top { .wh(1264,971); .contain('../img/pc/top.png'); .rel;
    .title { .wf; .abs; .lt(0,240);
      div { .abs; .o(0); transform: translateY(-40px); }
      .tit { .wh(422,53); .contain('../img/pc/tit.png'); .lt(421,0); animation: show 1.2s ease-out forwards; animation-delay: 1.6s; }
      .sub-tit { .wh(382,48); .contain('../img/pc/sub-tit.png'); .lt(441,140); animation: show 1.2s ease-out forwards; animation-delay: 1s; }
    }
    .necklace-wrap { .wh(702,521); .crop; .abs; .lt(284,203);
      .necklace-inner { transform: translateY(-100px); .o(0); animation: show 1.2s ease-out forwards; animation-delay: 0.2s;
        .necklace { .wh(1264,724); .contain('../img/pc/necklace.png'); .abs; .lt(-284,-203); transform: rotate(1deg); animation: swing 1.2s alternate infinite ease-in-out; transform-origin: center top; animation-delay: 3s; }
      }
    }
    @keyframes swing {
      0% { transform: rotate(1deg); }
      100% { transform: rotate(-1deg); }
    }
    @keyframes show {
      100% { transform: translateY(0); .o(1); }
    }
  }
  .product { .wh(1264,2514); .contain('../img/pc/prd.png'); .p(186,114); .-box; .flex; .space-between; .flex-wrap;
    .btn { .wh(325,516); .mb(33);
      &:nth-child(n+4) { .mb(285); }
      &:nth-child(n+7) { .wh(325,416); .mb(33); }
    }
  }
  .model-wrap { .rel; .wh(1264,675); .contain('../img/pc/bott.png'); .rel;
    &:after { .cnt; .wh(1040,520); .abs; .lt(112,0); .contain('../img/pc/border.png'); .z(1); pointer-events: none; }
    .model { .wh(1040,520); .abs; .lt(112,0);
      img { .wf; }
    }
    .magnifier { .wh(250,250); .abs; .br(50%); box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25); .hide; }
  }
  .target { .block; .wf; }
}