.content {
  font-size: 0px;
  max-width: 1264px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.content img {
  width: 100%;
  vertical-align: top;
  margin: 0px;
}
.content .top {
  width: 1264px;
  height: 971px;
  background-image: url('../img/pc/top.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.content .top .title {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 240px;
  right: auto;
  bottom: auto;
}
.content .top .title div {
  position: absolute;
  opacity: 0;
  transform: translateY(-40px);
}
.content .top .title .tit {
  width: 422px;
  height: 53px;
  background-image: url('../img/pc/tit.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 421px;
  top: 0px;
  right: auto;
  bottom: auto;
  animation: show 1.2s ease-out forwards;
  animation-delay: 1.6s;
}
.content .top .title .sub-tit {
  width: 382px;
  height: 48px;
  background-image: url('../img/pc/sub-tit.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: 441px;
  top: 140px;
  right: auto;
  bottom: auto;
  animation: show 1.2s ease-out forwards;
  animation-delay: 1s;
}
.content .top .necklace-wrap {
  width: 702px;
  height: 521px;
  overflow: hidden;
  position: absolute;
  left: 284px;
  top: 203px;
  right: auto;
  bottom: auto;
}
.content .top .necklace-wrap .necklace-inner {
  transform: translateY(-100px);
  opacity: 0;
  animation: show 1.2s ease-out forwards;
  animation-delay: 0.2s;
}
.content .top .necklace-wrap .necklace-inner .necklace {
  width: 1264px;
  height: 724px;
  background-image: url('../img/pc/necklace.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -284px;
  top: -203px;
  right: auto;
  bottom: auto;
  transform: rotate(1deg);
  animation: swing 1.2s alternate infinite ease-in-out;
  transform-origin: center top;
  animation-delay: 3s;
}
@keyframes swing {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes show {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content .product {
  width: 1264px;
  height: 2514px;
  background-image: url('../img/pc/prd.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 186px;
  padding-right: 114px;
  padding-bottom: 186px;
  padding-left: 114px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.content .product .btn {
  width: 325px;
  height: 516px;
  margin-bottom: 33px;
}
.content .product .btn:nth-child(n+4) {
  margin-bottom: 285px;
}
.content .product .btn:nth-child(n+7) {
  width: 325px;
  height: 416px;
  margin-bottom: 33px;
}
.content .model-wrap {
  width: 1264px;
  height: 675px;
  background-image: url('../img/pc/bott.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.content .model-wrap:after {
  content: '';
  display: block;
  width: 1040px;
  height: 520px;
  position: absolute;
  left: 112px;
  top: 0px;
  right: auto;
  bottom: auto;
  background-image: url('../img/pc/border.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}
.content .model-wrap .model {
  width: 1040px;
  height: 520px;
  position: absolute;
  left: 112px;
  top: 0px;
  right: auto;
  bottom: auto;
}
.content .model-wrap .model img {
  width: 100%;
}
.content .model-wrap .magnifier {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25);
  display: none;
}
.content .target {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=style-pc.css.map */