@import "../../css/asset";

.content { .fs(0); .max-w(1264); .tc; .rel; .mh-c;
  img { .wf; .vat; }
  .btn { .ib; .rel; .z(1); .pointer; }
  .wrap { .wh(1264,1150); .contain('../images/pc/bg.jpg'); .rel; .crop;
    .fade { animation: fade 0.4s ease-out forwards; .o(0); }
    .piercing { .wh(1264,1150); .abs; .lt; .z(1);
      &.piercing1 { .contain('../images/pc/piercing1.png'); animation-delay: 0.5s; }
      &.piercing2 { .contain('../images/pc/piercing2.png'); animation-delay: 0.9s; }
      &.piercing3 { .contain('../images/pc/piercing3.png'); animation-delay: 1.3s; }
      &.piercing4 { .contain('../images/pc/piercing4.png'); animation-delay: 1.7s; }
      &.piercing5 { .contain('../images/pc/piercing5.png'); animation-delay: 2.1s; }
    }
    .line { .wh(1264,1150); .contain('../images/pc/line.png'); .abs; .lt; animation-delay: 2.4s; }
    .tit { .wh(1264,1150); .contain('../images/pc/tit.png'); .abs; .lt; }
    .txt { .wh(1264,1150); .contain('../images/pc/txt.png'); .abs; .lt; animation-delay: 2.4s; }
    .obj { .wh(1264,1150); .contain('../images/pc/obj.png'); .abs; .lt; animation-delay: 2.8s; }

    @keyframes fade {
      100% { opacity: 1; }
    }
  }
}