@import "../../css/asset";
@use-rem: true;
@rem: 31.0295;

@media screen and (min-width: 767px) {
  html { font-size: 28px; }
  .content { .fs(0); .mh-c; .tc; max-width: 767px; .rel;
    img { .wf; .vat; }
    .btn { .ib; .rel; .z(1); .pointer; }
    .wrap.mo-evt { .rel;
      section {
        [data-aos="fade-up"] { transition-duration: 1.2s; }
        article { .rel; .crop;
          &.top { .wh(850,900); .contain('../images/mo/top.png'); }
          &.rolling { .fs(0); .wh(100%,55); .crop; .rel;
            .r-inner { .wh(2618,55); .flex; align-items: start; .bgc(#95afd9);
              .banner { .wh(1309,55); .contain('../images/mo/roll-txt.png');
                &.banner1 { animation: bannerRolling 15s linear infinite; }
                &.banner2 { animation: bannerRolling2 15s linear infinite; }
              }
            }
          }
          @keyframes bannerRolling {
            0% { transform: translateX(0%) }
            100% { transform: translateX(-100%) }
          }
          @keyframes bannerRolling2 {
            0% { transform: translateX(0%) }
            100% { transform: translateX(-100%) }
          }
          &.art1 { .wh(850,2589); .contain('../images/mo/c1-t-bg.png');
            .btn {
              &:after { .cnt; .f; .abs; .lt; .contain('../images/mo/ico-arrow.png'); animation: arrow 1.5s infinite forwards ease-out; pointer-events: none; }
            }
          }
          @keyframes arrow {
            0% { margin-left: 0; }
            100% { margin-left: 2%; }
          }
          &.art2 { .wh(850,2356); .contain('../images/mo/c2-t-bg.png'); }
        }
      }
    }
  }
}