@import "../../css/asset";
@import url('https://fonts.cdnfonts.com/css/against-2');

.content { .fs(0); .max-w(1264); .tc; .rel; .mh-c;
  img { .wf; .vat; }
  .btn { .ib; .rel; .z(1); .pointer; }
  .wrap {
    .top { .wh(1264,1758); .contain('../images/pc/top.png'); .pt(282); .-box;
      .tit { font-family: 'against', sans-serif; .flex; .justify-center;
        span { font-size: clamp(125px, 125px, 125px); .ls(-0.02em); background: linear-gradient(60deg, #ffbe7d 33%, #ff976f 66%, #ff976f 100%,); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; text-fill-color: transparent; background-size: 500% auto; animation: textShine 2s ease-out infinite alternate; }
      }
      @keyframes textShine {
        0% {
          background-position: 20% 50%;
        }
        100% {
          background-position: 80% 30%;
        }
      }
    }
    .product { .wh(1264,4185); .contain('../images/pc/prd.png');
      ul {
        li { .wh(1264,837); .rel;
          .dancing { .wh(449,441); .abs; .rt(92,108); .crop;
            img { .wh(1000,1000); .abs; .lt(-275,-474); }
          }
          .btn { .wh(632,837); .abs; }
          &:nth-child(odd) .btn { .rt; }
          &:nth-child(even) .btn { .lt; }
        }
      }
    }
  }
}