.content {
  font-size: 0vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 750px;
  position: relative;
}
.content img {
  width: 100%;
  vertical-align: top;
  margin: 0vw;
}
.content .leaf {
  width: 100vw;
  height: 102.66666667vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  overflow: hidden;
  z-index: 1;
}
.content .top {
  background-image: url('../img/mo/top-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 206.66666667vw;
  position: relative;
}
.content .top .vis {
  background-image: url('../img/mo/top.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 206.66666667vw;
  position: relative;
  z-index: 1;
}
.content .top .necklace-wrap {
  width: 34.4vw;
  height: 52.53333333vw;
  position: absolute;
  left: 33.33333333vw;
  top: 43.73333333vw;
  right: auto;
  bottom: auto;
  z-index: 1;
  overflow: hidden;
}
.content .top .necklace-wrap .necklace {
  background-image: url('../img/mo/necklace.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  animation: swing 1s alternate infinite ease-in-out;
  transform-origin: center top;
}
@keyframes swing {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
.content .top .letter-wrap {
  width: 100vw;
  height: 82.13333333vw;
  position: absolute;
  left: 0vw;
  top: 124.53333333vw;
  right: auto;
  bottom: auto;
  overflow: hidden;
}
.content .top .letter-wrap .letter {
  width: 66.93333333vw;
  height: 56.26666667vw;
  background-image: url('../img/mo/letter.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 16.53333333vw;
  top: 1.33333333vw;
  right: auto;
  bottom: auto;
  margin-top: 32.26666667vw;
  z-index: 2;
}
.content .top .letter-wrap .letter-cov-fr {
  width: 74.66666667vw;
  height: 22.4vw;
  position: absolute;
  left: 12.4vw;
  top: 32.26666667vw;
  right: auto;
  bottom: auto;
  z-index: 3;
}
.content .top .letter-wrap .letter-cov-fr .fr {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../img/mo/letter-cov-fr.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  z-index: 1;
}
.content .top .letter-wrap .letter-cov-fr .bk {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../img/mo/letter-cov-bk.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
}
.content .top .letter-wrap .letter-cover {
  width: 77.2vw;
  height: 50.13333333vw;
  background-image: url('../img/mo/letter-fr.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 11.73333333vw;
  top: 32vw;
  right: auto;
  bottom: auto;
  z-index: 2;
}
.content .top .letter-wrap.on .letter {
  animation: letter 1s ease-out forwards;
  animation-delay: 1s;
}
.content .top .letter-wrap.on .letter-cov-fr {
  transform: rotateX(0);
  transform-origin: center top;
  animation: letterCov 1s ease-out forwards;
}
.content .top .letter-wrap.on .letter-cov-fr .bk {
  animation: zUp 1s ease-out forwards;
}
@keyframes letterCov {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
    z-index: 1;
  }
}
@keyframes zUp {
  100% {
    z-index: 2;
  }
}
@keyframes letter {
  0% {
    margin-top: 32vw;
  }
  100% {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style-mo.css.map */