@import "../../css/asset";

.content { .fs(0); .wh(1264,5540); .rel; .crop; .mh-c;
  img { .wf; .vat; .m(0); }
  .leaf { .wh(1264,1095); .abs; .lt; .crop; .z(1); }
  .top { .contain('../img/pc/top-bg.png'); .wh(1264,2064); .rel;
    .vis { .contain('../img/pc/top.png'); .wh(1264,2064); .rel; .z(1); }
    .necklace-wrap { .wh(366,563); .abs; .lt(450,475); .z(1); .crop;
      .necklace { .contain('../img/pc/necklace.png'); .f; animation: swing 1s alternate infinite ease-in-out; transform-origin: center top; }
      @keyframes swing {
        0% { transform: rotate(2deg); }
        100% { transform: rotate(-2deg); }
      }
    }
    .letter-wrap {  .wh(724,717); .abs; .lt(265,1347); .crop;
      .letter { .wh(627,527); .contain('../img/pc/letter.png'); .abs; .lt(48,0); .mt(248); .z(2); }
      .letter-cov-fr { .wh(708,211); .abs; .lt(8,248); .z(3);
        .fr { .ib; .f; .contain('../img/pc/letter-cov-fr.png'); .abs; .lt(3,-3); .z(1); }
        .bk { .ib; .f; .contain('../img/mo/letter-cov-bk.png'); transform: rotate(180deg); .abs; .lt; }
      }
      .letter-cover { .wh(724,470); .contain('../img/pc/letter-fr.png'); .abs; .lt(0,247); .z(2); }
      &.on {
        .letter { animation:letter 1s ease-out forwards; animation-delay: 1s; }
        .letter-cov-fr { transform: rotateX(0); transform-origin: center top; animation:letterCov 1s ease-out forwards;
          .bk { animation: zUp 1s ease-out forwards; }
        }
        @keyframes letterCov {
          0% { transform: rotateX(0); }
          100% { transform: rotateX(180deg); z-index: 1; }
        }
        @keyframes zUp {
          100% { z-index: 2; }
        }
        @keyframes letter {
          0% { margin-top: 246px; }
          100% { margin-top: 0; }
        }
      }
    }
  }
}