@import "../../../css/asset";

html { font-family: Lato, "Noto Sans CJK KR", sans-serif; }
.sthg { .crop;
  .wrap { .fs(0); .min-w(1304); .max-w(1920); .mh-c;
    img { .wf; .vat; }
    .main-vis { .h(100vh); background: url("../img/pc/pc_top_01.jpg")top center no-repeat; .cover; .rel;
      .title { .wh(1180,202); .abs; .lb(50%,95); .crop; transform: translateX(-50%);
        .inner { .f; .contain('../img/pc/vis-tit1.png'); transform: translateY(110%); transition: transform 1.4s; .ease-in-out; }
      }
      &.on .title .inner { transform: translateY(0); }
    }

    .content { .p(0,74); .-box;
      .banner-tit { .p(120,0,35); .-box;
        p { .pl(20); .-box; .ls(-0.045em);
          &.tit { .fs(46,50); .medium; }
          &.txt { .fs(25,30); .light; .keep-all; }
        }
      }
      .banner { .rel; .wf; padding-top: calc(1506/1772*100%);
        .banner-vis { width:calc(1325/1772*100%); height:calc(998/1506*100%); .abs; .crop; }
        &.banner1 {
          .banner-vis { .rt; }
          .goods-list { .lt; }
        }
        &.banner2 {
          .banner-vis { .lt; }
          .goods-list { .rt;
            ul li {
              &:nth-child(1), &:nth-child(2) { margin-left: calc(1342/1772*100%); }
            }
          }
        }

        .goods-list { .abs; .wf;
          ul li { width:calc(430/1772*100%); height:calc(490/1772*100%); .ib; margin-right: calc(17/1772*100%); .rel; .crop;
            &:nth-child(1), &:nth-child(2) { .block; margin-bottom: calc(18/1772*100%); }
            &:nth-child(3) { margin-right: calc(18/1772*100%); }
            &:last-child { .mr(0); }
            .description { .abs; .lt; .f; background: rgba(0,0,0,0.5); .p(0,10); .-box; .tc; .o(0); transform: translateY(101%); transition: opacity 0.8s, transform 0.5s; .ease-out;
              .info { .wf; .abs; .lt(0,50%); transform: translateY(-50%);
                > div:first-child { .mb(10); }
                p { .fs(22,25); .light; .c(#fff); .ib; .vam; .fs(-0.045em); .o(0.8);
                  &.discount-price { .fs(24); .bold; .mr(20); }
                  &.price { .mr(20); text-decoration: line-through; }
                  &.percent { .fs(24,25); .c(#c90000); .regular;
                    span { .fs(16,16); .ib; .vam; }
                  }
                }
              }
            }
            &:hover .description { .o(1); transform: translateY(0); }
          }
        }
      }

      .bottom-banner { .m(120,0); .rel;
        &:after { .cnt; .wh(100vw,100%); .abs; .lt(50%,0); transform:translateX(-50%); .z(-1); .bgc(#eae8e9); }
      }

      .vid { .wf; height:calc(1000/1772*100%); margin-bottom: calc(130/1772*100%);
        video { .f; }
      }
    }
    .move { .o(0); transition: opacity 1.0s; .ease-in;
      &.move-on { .o(1); }
    }
  }
}