@import "../../css/asset";
@use-vw: true;
@vw: 850;

html { scroll-behavior: smooth; }
.content { .fs(0); .mh-c; .tc; max-width: 850px; .rel;
  img { .wf; .vat; }
  .btn { .ib; .rel; .z(1); .pointer; }
  .wrap {
    [data-aos="fade-up"] { transition-duration: 1000ms; }
    .top { .wh(850,1248); .crop; .rel;
      img { .wh(850,1248); .abs; .lt; }
    }
    .product { .wh(850,2552); .rel;
      img { .wh(850,2552); .abs; .lt; }
      .btn { .wh(390,310); .abs;
        i { .wh(72,72); .contain('../images/mo/btn.png'); .abs; .lb; .ib; pointer-events: none; animation:jamjam 1.5s infinite; }
        &.btn1 { .lt(400,170); }
        &.btn2 { .lt(410,1214); }
        &.btn3 { .lt(46,1962);
          i { .rb; }
        }
      }
      @keyframes jamjam {
        50% { transform: scale(1.15); }
      }
    }
  }
}