@import "../../css/asset";

.content { .fs(0); .max-w(1264); .tc; .rel; .mh-c;
  img { .wf; .vat; }
  .btn { .ib; .rel; .z(1); .pointer; }
  .wrap {
    .tab-wrap { .wh(1264,114); .flex; .flex-center; .z(3);
      .tab { .wh(210,114); }
    }
    .sticky-wrapper { .z(3); .rel; }

    article { .rel; .hide;
      .unit { .rel; .z(2); }
      .emo { .wh(1264,2364); .abs; .lt; .z(2); animation: twinkle 1s ease-out infinite; .o(0); }
      @keyframes twinkle {
        50% { .o(1); }
      }
      .txt { .abs; .lt; transform: translateY(200px); .o(0); .o(0); transition: transform 0.6s;
        &.txt1 { .z(1); }
        &.txt2.move-on { transform: translateY(0); .o(1); }
      }
      &.active .txt1 { animation: upSld 0.6s ease-out forwards; }
      @keyframes upSld {
        100% { transform: translateY(0); .o(1); }
      }
      &.art1 { .contain('../images/pc/bg1.png');
        .txt1 { .wh(1264,1370); }
        .txt2 { .wh(1264,994); .t(1166); }
      }
      &.art2 { .contain('../images/pc/bg2.png');
        .txt1 { .wh(1264,1261 ); }
        .txt2 { .wh(1264,994); .t(1166); }
      }
      &.art3 { .contain('../images/pc/bg3.png');
        .txt1 { .wh(1264,1371); }
        .txt2 { .wh(1264,994); .t(1166); }
      }
      &.art4 { .contain('../images/pc/bg4.png');
        .txt1 { .wh(1264,1260); }
        .txt2 { .wh(1264,993 ); .t(1165); }
      }
      &.art5 { .contain('../images/pc/bg5.png');
        .txt1 { .wh(1264,1260); }
        .txt2 { .wh(1264,993); .t(1165); }
      }
    }

    &[data-view="0"] .tab-wrap { .contain('../images/pc/tab1.png'); }
    &[data-view="1"] .tab-wrap { .contain('../images/pc/tab2.png'); }
    &[data-view="2"] .tab-wrap { .contain('../images/pc/tab3.png'); }
    &[data-view="3"] .tab-wrap { .contain('../images/pc/tab4.png'); }
    &[data-view="4"] .tab-wrap { .contain('../images/pc/tab5.png'); }
    &[data-view="0"] .art1,
    &[data-view="1"] .art2,
    &[data-view="2"] .art3,
    &[data-view="3"] .art4,
    &[data-view="4"] .art5 { .block; }
  }
}