.content {
  font-size: 0vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 850px;
  position: relative;
}
.content img {
  width: 100%;
  vertical-align: top;
}
.content .wrap .tab-wrap {
  width: 100vw;
  height: 13.41176471vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 61px;
  z-index: 3 !important;
}
.content .wrap .tab-wrap .tab {
  height: 13.41176471vw;
}
.content .wrap .tab-wrap .tab[data-tab="0"] {
  width: 15.52941176vw;
}
.content .wrap .tab-wrap .tab[data-tab="1"] {
  width: 19.29411765vw;
}
.content .wrap .tab-wrap .tab[data-tab="2"] {
  width: 16.23529412vw;
}
.content .wrap .tab-wrap .tab[data-tab="3"] {
  width: 18.11764706vw;
}
.content .wrap .tab-wrap .tab[data-tab="4"] {
  width: 16.70588235vw;
}
.content .wrap article {
  position: relative;
  display: none;
}
.content .wrap article .unit {
  position: relative;
  z-index: 2;
}
.content .wrap article .emo {
  width: 100vw;
  height: 273.29411765vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  z-index: 2;
  animation: twinkle 1s ease-out infinite;
  opacity: 0;
}
@keyframes twinkle {
  50% {
    opacity: 1;
  }
}
.content .wrap article .txt {
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.6s;
}
.content .wrap article .txt.txt1 {
  z-index: 1;
}
.content .wrap article .txt.txt2.move-on {
  transform: translateY(0);
  opacity: 1;
}
@keyframes upSld {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content .wrap article.active .txt1 {
  animation: upSld 0.6s ease-out forwards;
}
@keyframes upSld {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content .wrap article.art1 {
  background-image: url('../images/mo/bg1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap article.art1 .txt1 {
  width: 100vw;
  height: 162.11764706vw;
}
.content .wrap article.art1 .txt2 {
  width: 100vw;
  height: 106.70588235vw;
  top: 146.70588235vw;
}
.content .wrap article.art2 {
  background-image: url('../images/mo/bg2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap article.art2 .txt1 {
  width: 100vw;
  height: 147.64705882vw;
}
.content .wrap article.art2 .txt2 {
  width: 100vw;
  height: 106.70588235vw;
  top: 146.58823529vw;
}
.content .wrap article.art3 {
  background-image: url('../images/mo/bg3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap article.art3 .txt1 {
  width: 100vw;
  height: 160.94117647vw;
}
.content .wrap article.art3 .txt2 {
  width: 100vw;
  height: 106.82352941vw;
  top: 146.58823529vw;
}
.content .wrap article.art4 {
  background-image: url('../images/mo/bg4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap article.art4 .txt1 {
  width: 100vw;
  height: 148.11764706vw;
}
.content .wrap article.art4 .txt2 {
  width: 100vw;
  height: 106.70588235vw;
  top: 146.47058824vw;
}
.content .wrap article.art5 {
  background-image: url('../images/mo/bg5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap article.art5 .txt1 {
  width: 100vw;
  height: 147.64705882vw;
}
.content .wrap article.art5 .txt2 {
  width: 100vw;
  height: 106.70588235vw;
  top: 146.35294118vw;
}
.content .wrap[data-view="0"] .tab-wrap {
  background-image: url('../images/mo/tab1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap[data-view="1"] .tab-wrap {
  background-image: url('../images/mo/tab2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap[data-view="2"] .tab-wrap {
  background-image: url('../images/mo/tab3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap[data-view="3"] .tab-wrap {
  background-image: url('../images/mo/tab4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap[data-view="4"] .tab-wrap {
  background-image: url('../images/mo/tab5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.content .wrap[data-view="0"] .art1,
.content .wrap[data-view="1"] .art2,
.content .wrap[data-view="2"] .art3,
.content .wrap[data-view="3"] .art4,
.content .wrap[data-view="4"] .art5 {
  display: block;
}
/*# sourceMappingURL=style-mo.css.map */