.content {
  font-size: 0vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 850px;
  position: relative;
}
.content img {
  width: 100%;
  vertical-align: top;
  margin: 0vw;
}
.content .visual {
  position: relative;
}
.content .visual iframe {
  width: 100vw;
  height: 88vw;
  position: absolute;
  left: 0vw;
  top: 33.17647059vw;
  right: auto;
  bottom: auto;
}
.content .prds {
  position: relative;
}
.content .prds .link-wrap .btn {
  width: 22.82352941vw;
  height: 13.88235294vw;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}
.content .prds .link-wrap .btn:after {
  content: '';
  display: block;
  width: 4.94117647vw;
  height: 4.94117647vw;
  background-image: url('../img/pc/pointer.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: scale 1s infinite;
  position: absolute;
  left: 3.52941176vw;
  top: 2.35294118vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn1 {
  left: 12.11764706vw;
  top: 12.94117647vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn2 {
  right: 12.35294118vw;
  top: 139.29411765vw;
  left: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn2:after {
  left: 2.94117647vw;
  top: 1.76470588vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn3 {
  left: 9.64705882vw;
  top: 143.64705882vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn3:after {
  left: 1.17647059vw;
  top: -1.17647059vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn4 {
  left: 36.23529412vw;
  top: 26.82352941vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn4:after {
  left: 3.52941176vw;
  top: 1.17647059vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn5 {
  right: 8.11764706vw;
  top: 3.76470588vw;
  left: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn5:after {
  left: 2.94117647vw;
  top: 1.17647059vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn6 {
  right: 12.35294118vw;
  top: 53.41176471vw;
  left: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn6:after {
  left: 1.76470588vw;
  top: 1.17647059vw;
  right: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn7 {
  right: 1.76470588vw;
  top: 121.64705882vw;
  left: auto;
  bottom: auto;
}
.content .prds .link-wrap .btn.btn7:after {
  left: 1.76470588vw;
  top: 2.35294118vw;
  right: auto;
  bottom: auto;
}
@keyframes scale {
  50% {
    transform: scale(1.1);
  }
}
.content .prds .birth-txt {
  width: 74.94117647vw;
  position: absolute;
  left: 12.47058824vw;
  top: 80vw;
  right: auto;
  bottom: auto;
  transform: rotate(-5deg);
}
.content .prds .birth-txt svg path {
  opacity: 0;
}
.content .prds .birth-txt.on svg {
  animation: op 1s;
  animation-delay: 7s;
}
.content .prds .birth-txt.on svg path {
  opacity: 1;
  stroke-dasharray: 5500;
  stroke-dashoffset: 5500;
  animation: drawPath 20s linear infinite;
}
@keyframes drawPath {
  to {
    stroke-dashoffset: -5500;
  }
}
@keyframes op {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content .prds .birth-txt.on svg .txt1 {
  animation-delay: 0.3s;
}
.content .prds .birth-txt.on svg .txt2 {
  animation-delay: 0s;
}
.content .prds .birth-txt.on svg .txt3 {
  animation-delay: 1.3s;
}
.content .prds .birth-txt.on svg .txt4 {
  animation-delay: 1.2s;
}
.content .prds .birth-txt.on svg .txt5 {
  animation-delay: 1.4s;
}
.content .prds .birth-txt.on svg .txt6 {
  animation-delay: 1.6s;
}
.content .prds .birth-txt.on svg .txt7 {
  animation-delay: 1.8s;
}
.content .prds .birth-txt.on svg .txt8 {
  animation-delay: 2.1s;
}
.content .prds .birth-txt.on svg .txt9 {
  animation-delay: 2.5s;
}
.content .prds .birth-txt.on svg .txt10 {
  animation-delay: 3.1s;
}
.content .prds .birth-txt.on svg .txt11 {
  animation-delay: 2.9s;
}
.content .prds .birth-txt.on svg .txt12 {
  animation-delay: 3.4s;
}
.content .prds .birth-txt.on svg .txt13 {
  animation-delay: 3.7s;
}
.content .prds .birth-txt.on svg .txt14 {
  animation-delay: 4s;
}
.content .prds .birth-txt.on svg .txt15 {
  animation-delay: 4.2s;
}
.content .prds .birth-txt.on svg .txt16 {
  animation-delay: 4.6s;
}
.content .prds .birth-txt.on svg .txt17 {
  animation-delay: 4.7s;
}
.content .prds .birth-txt.on svg .txt18 {
  animation-delay: 5.2s;
}
.content .prds .birth-txt.on svg .txt19 {
  animation-delay: 4.9s;
}
.content .prds .birth-txt.on svg .txt20 {
  animation-delay: 5.1s;
}
.content .prds .birth-txt.on svg .txt21 {
  animation-delay: 5.6s;
}
.content .prds .birth-txt.on svg .txt22 {
  animation-delay: 5.9s;
}
.content .bott {
  background-image: url('../img/mo/bott.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 105.64705882vw;
  padding-top: 8.23529412vw;
  padding-right: 14.11764706vw;
  padding-bottom: 8.23529412vw;
  padding-left: 14.11764706vw;
  box-sizing: border-box;
}
.content .bott iframe {
  width: 71.64705882vw;
  height: 89.52941176vw;
}
/*# sourceMappingURL=style-mo.css.map */