@import "../../css/asset";
@use-vw: true;
@vw: 850;

.content { .fs(0); .mh-c; .tc; max-width: 850px; .rel;
  img { .wf; .vat; .m(0); }
  .visual { .rel;
    iframe { .wh(850,748); .abs; .lt(0,282); }
  }
  .prds { .rel;
    .link-wrap {
      .btn { .wh(194,118); .pointer; .z(1); .abs;
        &:after { .cnt; .wh(42,42); .contain('../img/pc/pointer.png'); animation: scale 1s infinite; .abs; .lt(30,20); }
        &.btn1 { .lt(103,110); }
        &.btn2 { .rt(105,1184);
          &:after { .lt(25,15); }
        }
        &.btn3 { .lt(82,1221);
          &:after { .lt(10,-10); }
        }
        &.btn4 { .lt(308,228);
          &:after { .lt(30,10); }
        }
        &.btn5 { .rt(69,32);
          &:after { .lt(25,10); }
        }
        &.btn6 { .rt(105,454);
          &:after { .lt(15,10); }
        }
        &.btn7 { .rt(15,1034);
          &:after { .lt(15,20); }
        }
        @keyframes scale {
          50% { transform: scale(1.1); }
        }
      }
    }
    .birth-txt { .w(637); .abs; .lt(106,680); transform: rotate(-5deg);
      svg path { .o(0); }
      &.on {
        svg { animation: op 1s; animation-delay: 7s;
          path { .o(1);
            stroke-dasharray: 5500;
            stroke-dashoffset: 5500;
            animation: drawPath 20s linear infinite;
          }
          @keyframes drawPath {
            to {
              stroke-dashoffset: -5500;
            }
          }
          @keyframes op {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          .txt1 { animation-delay: 0.3s; }
          .txt2 { animation-delay: 0s; }
          .txt3 { animation-delay: 1.3s; }
          .txt4 { animation-delay: 1.2s; }
          .txt5 { animation-delay: 1.4s; }
          .txt6 { animation-delay: 1.6s; }
          .txt7 { animation-delay: 1.8s; }
          .txt8 { animation-delay: 2.1s; }
          .txt9 { animation-delay: 2.5s; }
          .txt10 { animation-delay: 3.1s; }
          .txt11 { animation-delay: 2.9s; }
          .txt12 { animation-delay: 3.4s; }
          .txt13 { animation-delay: 3.7s; }
          .txt14 { animation-delay: 4s; }
          .txt15 { animation-delay: 4.2s; }
          .txt16 { animation-delay: 4.6s; }
          .txt17 { animation-delay: 4.7s; }
          .txt18 { animation-delay: 5.2s; }
          .txt19 { animation-delay: 4.9s; }
          .txt20 { animation-delay: 5.1s; }
          .txt21 { animation-delay: 5.6s; }
          .txt22 { animation-delay: 5.9s; }
        }
      }
    }
  }
  .bott { .contain('../img/mo/bott.png'); .wh(850,898); .p(70,120); .-box;
    iframe { .wh(609,761); }
  }
}