@import "../../css/asset";

html { scroll-behavior: smooth; }
.content { .fs(0); .max-w(1920); .tc; .rel; .mh-c;
  img { .wf; .vat; }
  .btn { .ib; .rel; .z(1); .pointer; }
  .wrap { .crop;
    .inner { .min-w(1920); .ml(50%); transform: translateX(-50%); }
    [data-aos="fade-up"] { transition-duration: 1000ms; }
    .top { .wh(1920,850); .crop; .rel;
      .necklace { .f; .abs; .lt; }
      .gif1 { .wh(654,654); .abs; .rt(158,154); .z(1);
        span { .wh(654,400); .abs; .lb; .crop;
          img { .wh(654,654); .abs; .lb; }
        }
      }
      .gif2 { .wh(778,778); .abs; .lt(50,-328); .z(1); }
      .silver { .f; .abs; .lt; .z(1); }
    }
    .cont-wrap { .wh(1920,2857); .bgc(#f7f4eb); .rel;
      .vid { .wh(700,593); .abs; .lt(260,143); .crop;
        iframe { .wh(700,700); .abs; .lt(50%,50%); transform: translate(-50%,-50%); } 
      }
      .txt1 { .wh(700,593); .abs; .lt(960,143); }
      .prd { .wh(700,719); .abs; .lt(260,954);
        .btn { .wh(154,50); .abs; .lt(354,233);
          &.btn2 { .t(592); }
        }
        &.prd2 { .lt(960,1909); }
      }
      .sg { .wh(700,719); .abs; .lt(960,954); .z(1);
        &.gold { .lt(260,1909); }
      }
      .pic1 { .wh(1920,1251); .abs; .lt(0,953); }
      .pic2 { .wh(1920,1184); .abs; .lb; }
    }
    .bott { .rel;
      .txt { .f; .abs; .lt; }
    }
  }
}
