@import "../../css/asset";
@use-vw: true;
@vw: 850;


.content { .fs(0); .mh-c; .tc; max-width: 850px; .rel;
  img { .wf; .vat; }
  .wrap {
    .kv { .w(850); }
    .tab-wrap { .wh(850,102)!important; .flex; .flex-center; .sticky; .t(61px); .z(3)!important;
      .tab { .wh(20%,102); }
    }

    section { .wh(850,4133); .contain('../images/mo/bg.png'); }
    article { .rel; .hide;
      .tit, .mov { .crop;
        img { transform: translateY(200px); .o(0); transition: transform 0.6s; }
      }
      .slide-prd { .wh(850,796); .p(0,65); .-box;
        .swiper { .f;
          .swiper-scrollbar { .h(5); .br(2); .bgc(#e3e3e3);
            .swiper-scrollbar-drag { .bgc(#bababa); .br(2); }
          }
        }
      }
      &.active .tit img { animation: upSld 0.6s ease-out forwards; }
      .mov.move-on img { animation: upSld 0.6s ease-out forwards; }
      @keyframes upSld {
        100% { transform: translateY(0); .o(1); }
      }
      &.art1 { .contain('../images/mo/bg1.png');
        .txt1 { .wh(850,1378); }
        .txt2 { .wh(850,907); .t(1247); }
      }
      &.art2 { .contain('../images/mo/bg2.png');
        .txt1 { .wh(850,1255); }
        .txt2 { .wh(850,907); .t(1246); }
      }
      &.art3 { .contain('../images/mo/bg3.png');
        .txt1 { .wh(850,1368); }
        .txt2 { .wh(850,908); .t(1246); }
      }
      &.art4 { .contain('../images/mo/bg4.png');
        .txt1 { .wh(850,1259); }
        .txt2 { .wh(850,907); .t(1245); }
      }
      &.art5 { .contain('../images/mo/bg5.png');
        .txt1 { .wh(850,1255); }
        .txt2 { .wh(850,907); .t(1244); }
      }
    }
    .bott-slide { .mt(150); .h(582);
      .swiper .swiper-wrapper {
        transition-timing-function: linear!important;
      }
    }

    &[data-view="0"] .tab-wrap { .contain('../images/mo/tab1.png'); }
    &[data-view="1"] .tab-wrap { .contain('../images/mo/tab2.png'); }
    &[data-view="2"] .tab-wrap { .contain('../images/mo/tab3.png'); }
    &[data-view="3"] .tab-wrap { .contain('../images/mo/tab4.png'); }
    &[data-view="4"] .tab-wrap { .contain('../images/mo/tab5.png'); }
    &[data-view="0"] .art1,
    &[data-view="1"] .art2,
    &[data-view="2"] .art3,
    &[data-view="3"] .art4,
    &[data-view="4"] .art5 { .block; }
  }
}