#content .holi-wrap {
  font-size: 0vw;
  height: 304.44964871vw;
  position: relative;
  overflow: hidden;
}
#content .holi-wrap img {
  width: 100%;
  vertical-align: top;
}
#content .holi-wrap .bg {
  width: 100vw;
  height: 304.44964871vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  z-index: 1;
}
#content .holi-wrap .title-bg {
  width: 100vw;
  height: 87.00234192vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
}
#content .holi-wrap .title-bg div {
  width: 100vw;
  height: 87.00234192vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  background-image: url("../img/mo/title-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#content .holi-wrap .title-bg div.bg2 {
  margin-top: 20px;
  animation: twinkle 0.1s alternate-reverse infinite linear;
}
#content .holi-wrap .title-bg div.bg3 {
  margin-top: 80px;
  animation: twinkle 0.1s alternate-reverse infinite linear;
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#content .holi-wrap .card-flip {
  margin-top: 63.23185012vw;
  padding-top: 0vw;
  padding-right: 4.44964871vw;
  padding-bottom: 0vw;
  padding-left: 4.44964871vw;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
#content .holi-wrap .card-flip .card-wrap {
  display: flex;
  justify-content: space-between;
}
#content .holi-wrap .card-flip .card-wrap .card-inner {
  width: 29.62529274vw;
  height: 43.55971897vw;
  position: relative;
  margin-top: 0vw;
  margin-right: 1.17096019vw;
  margin-bottom: 2.34192037vw;
  margin-left: 0vw;
}
#content .holi-wrap .card-flip .card-wrap .card-inner:nth-child(n+3) {
  margin-right: 0vw;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards {
  box-shadow: 0 0 15px 1px rgba(161, 142, 90, 0.5);
  border-radius: 2.34192037vw;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  transition: transform 3s;
  transform-style: preserve-3d;
  transform-origin: center center;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  backface-visibility: hidden;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards .bk {
  transform: rotateY(180deg);
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip1,
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip2,
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip3,
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip4,
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip5 {
  animation: flip 1.2s;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip2 {
  animation-delay: 0.5s;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip3 {
  animation-delay: 1s;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip4 {
  animation-delay: 1.5s;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .cards.flip5 {
  animation-delay: 2s;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}
#content .holi-wrap .card-flip .card-wrap .card-inner .btn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  z-index: 1;
  pointer-events: none;
}
#content .holi-wrap .card-flip .card-wrap .card-inner .btn.flip-btn {
  pointer-events: auto;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .cards {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .cards.flip-card {
  transform: rotateY(180deg);
  transition: transform 0.5s !important;
  animation-delay: 0s;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .cards.cards1 {
  transition-delay: 0s!important;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .cards.cards2 {
  transition-delay: 0.1s !important;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .cards.cards3 {
  transition-delay: 0.2s !important;
}
#content .holi-wrap .card-flip.active .card-wrap .card-inner .btn {
  pointer-events: auto;
}
/*# sourceMappingURL=style-mo.css.map */