@import "../../css/asset";

#content {
  .holi-wrap { .fs(0); .wh(1264,2450); .rel; .crop; .mh-c;
    img { .wf; .vat; }
    .bg { .wh(1264,2450); .abs; .lt; .z(1); }
    .title-bg { .wh(1264,399); .abs; .lt;
      div { .wh(1264,399); .abs; .lt; background: url("../img/pc/title-bg.png") 0 0 no-repeat;
        &.bg2 { .mt(20); animation: twinkle 0.15s alternate-reverse infinite linear; }
        &.bg3 { .mt(80); animation: twinkle 0.15s alternate-reverse infinite linear; }
      }
    }
    @keyframes twinkle {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    .card-flip { .mt(399); .p(0,110); .-box; .rel; .z(1);
      .card-wrap { .flex; .space-between;
        .card-inner  { .wh(253,372); .rel; .m(0,10,20,0);
          &:nth-child(n+4) { .mr(0); }
          .cards { box-shadow: 0 0 15px 1px rgba(161,142,90,0.5); .br(20); .abs; .lt; .f; transition: transform 3s; transform-style:  preserve-3d; transform-origin: center center;
            img { .f; .abs; .lt; backface-visibility: hidden; }
            .bk { transform: rotateY(180deg); }
            &.flip1, &.flip2, &.flip3, &.flip4, &.flip5 { animation: flip 1.2s; }
            &.flip2 { animation-delay: 0.5s; }
            &.flip3 { animation-delay: 1s; }
            &.flip4 { animation-delay: 1.5s }
            &.flip5 { animation-delay: 2s }
            @keyframes flip {
              0% { transform: rotateY(0deg); }
              50% { transform: rotateY(180deg); }
            }
          }
          .btn { .wh(82,36); .abs; .rb(11,11); .z(1); pointer-events: none;
            &.flip-btn { .f; .lt; pointer-events: auto; }
          }
        }
      }
      &.active .card-wrap .card-inner {
        .cards { transform: rotateY(180deg); transition: transform 0.5s;
          &.flip-card { transform: rotateY(180deg); transition: transform 0.5s!important; animation-delay: 0s; }
          &.cards1 { transition-delay: 0s!important; }
          &.cards2 { transition-delay: 0.1s!important; }
          &.cards3 { transition-delay: 0.2s!important; }
          &.cards4 { transition-delay: 0.3s!important; }
        }
        .btn { pointer-events: auto; }
      }
    }
  }
}
